src/main/mule/objectFlows/partnerContactSubFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="parterContactSubFlowFlow" doc:id="6fef878a-5611-4376-a383-e692a1303f55" >
		<choice doc:name="Choice" doc:id="de93e682-50c6-4663-bc65-cf24a4f6a841" >
			<when expression="vars.partnerCount == 0">
				<logger level="INFO" doc:name="No data" doc:id="5ded5dc8-47e5-4499-a9b7-3eced08753fd" message="No new data"/>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="3d2e4c2c-7a21-4227-913b-e25f27a2d531" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
var p1 = vars.partner_mysql_data
fun format(d) = if(isEmpty(d)) null else d as LocalDateTime {format: "yyyy-MM-dd'T'HH:mm:ss"} as String {format:"yyyy-MM-dd"}
---
p1 map({
	"LastName": $.LastName,
	"User_Id__c": $.User_Id__c,
	"Account": $.Account,
	"Phone": $.Phone,
	"Email": $.Email,
	"FirstName": $.FirstName,
	"RecordTypeId": p('partner.recordTypeId'),
	"Platform_Date_Created__c": format($.Platform_Date_Created__c),
	"Title": $.Title,
	"Portal_Role__c": $.Portal_Role__c,
	"Status__c": $.Status__c
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<foreach doc:name="For Each" doc:id="ef08953c-db17-4261-a01c-29ce2cef5bfd" collection="payload" batchSize="5000">
					<ee:transform doc:name="Transform Message" doc:id="73b8f7c8-37ba-4967-8f26-014fdb80dbee" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<http:request method="POST" doc:name="salesforce_sys_api : upsertPartnersBusinessLogicFlow" doc:id="749377c7-4b1c-41c7-b705-3fcc3fe9daec" config-ref="HTTP_Request_sfdc_configuration" path="/partners">
						<http:headers ><![CDATA[#[output application/java
---
{
	"origin" : vars.origin
}]]]></http:headers>
					</http:request>
				</foreach>
				<logger level="INFO" doc:name="Logger" doc:id="d352cd5c-fdd9-4b5b-ba7e-8880988fe020" message="Partner Contact flow Completed !!"/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c98d3050-384f-4d8a-9c13-33270c88b736" >
				<ee:transform doc:name="Transform Message" doc:id="432af7c6-70e7-46ce-97c2-1916b7a9de85" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"errorType": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name='errorEmailSubFlow' doc:id="cbf7d5fb-bc14-42b9-a888-6416517d394b" name="errorEmailSubFlow"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
