target/META-INF/mule-src/mosaic/src/main/mule/objectFlows/loanDisbursementSubFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
		<flow name="LoanDisbursementProcessAPIFlow" doc:id="f04625e2-fc4e-4d30-add8-2e9fbceb816d" >
		<choice doc:name="Choice" doc:id="64ad744d-ebd8-4c3c-8608-46fe5daeb2cf" >
			<when expression="#[vars.loanDisbursementCount == 0]">
				<logger level="INFO" doc:name="Logger" doc:id="87d3212e-b599-4334-ac61-0ce3668b72a6" message="No New data in Loan Disbursement"/>
			</when>
			<otherwise >
		<choice doc:name="Choice" doc:id="25a9246a-05bf-44e8-b75f-157170e340c9">
					<when expression="#[vars.relationshipFlag == true]">
						<ee:transform doc:name="getSFDCJsonStructure" doc:id="30974da3-d914-45af-9c54-930e6adf9718">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json 
var p1 = vars.loanDisbursementData
---
p1 map((element) ->{
    "Platform_Disbursement_ID__c": element.Platform_Disbursement_ID__c,
    "Channel_Partner_ID__c": element.Channel_Partner_ID__c,
    "Loan__c": element.Loan__c
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					</when>
					<otherwise >
<ee:transform doc:name="getSFDCJsonStructure" doc:id="0d60beef-8d71-45f3-9ddd-876ac7caa066">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
var p1 = vars.loanDisbursementData
fun format(d) = if(isEmpty(d)) null else d as LocalDateTime {format: "yyyy-MM-dd'T'HH:mm:ss"} as String {format: "yyyy-MM-dd"}
---
p1 map((element) ->{
    "Platform_Date_Created__c": element.Platform_Date_Created__c,
    "Amount__c": element.Amount__c,
    "Platform_Disbursement_ID__c": element.Platform_Disbursement_ID__c,
    "Date_Disburse__c": format(element.Date_Disburse__c),
    "Date_Completed__c": format(element.Date_Completed__c),
    "Milestone__c": element.Milestone__c, 
    "Mosaic_Admin__c": element.Mosaic_Admin__c,
    "Notes__c": element.Notes__c,
    "Loan__c": element.Loan__c,
	"Channel_Partner_ID__c": element.Channel_Partner_ID__c,    
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>

					</otherwise>
				</choice>
				<foreach doc:name="For Each" doc:id="b404cb93-dd78-45f5-9718-885fe59dcd88" collection="payload" batchSize="30000">
					<ee:transform doc:name="jsonPayload" doc:id="47e763a7-2764-469e-89f7-256a62fbcb9a" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<http:request method="POST" doc:name="salesforce_sys_api: upsertLoanDisbursementDataFlow" doc:id="49a009f3-6404-428d-b9bb-908e27a32069" path="/loanDisbursement" config-ref="HTTP_Request_sfdc_configuration">
						<http:headers ><![CDATA[#[output application/java
---
{
	"origin" : vars.origin
}]]]></http:headers>
					</http:request>
				</foreach>
				<logger level="INFO" doc:name="Logger" doc:id="cc6b68f9-6a2e-4c21-ba7e-e3428875fa72" message="Loan Disbursement Flow completed!!"/>
			
			
</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e01a2606-6c4d-483b-9262-54d54b4e4436" type="ANY">
				<ee:transform doc:name="error payload" doc:id="d06bea7c-ae6d-4075-9336-d2781a2270cc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"errorType": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="errorEmailSubFlow" doc:id="8fd66f2b-a651-425a-8f90-f68cc0f3815e" name="errorEmailSubFlow"/>
			
			</on-error-propagate>
		</error-handler>
		
					</flow>
	
	
	</mule>
